/* Responsivo para telas menores que 768px */
@media (max-width: 480px) {
    /* Esconde o menu */

    .navbar{
        position: static;
        margin-bottom: 5%;
    }

    .background-principal{
        padding-top: 0;
    }

    .menu {
        display: none;
    }

    .login{
        display: none;
    }

    .container{
        margin: 0;
        text-align: center;
    }

    .texto-principal{
        margin: 0;
    }

    .texto-principal h2{
        font-size: 30px;
        text-align: center;
    }

    .texto-principal p{
        padding: 0;
        margin: 0;
        font-size: 17px;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 3%;
    }

    .texto-principal a{
        margin: 0;
        margin-bottom: 5%;
    }
    

    .vid-principal{
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .vid-principal iframe{
        max-width: 365px;    
        height: 205px;
    }

    .texto-secundario h3{
        text-align: center;
        margin-left: 1%;
        margin-top: 4%;
        font-size: 22px;
    }

    .texto-secundario span{
        color: #67038d;
    }

    .texto-secundario p{
        font-size: 16px;
        text-align: center;
    }

    .container-cards{
        flex-direction: column;
        align-items: center;
        margin-top: -25px;

    }

    .conteudo-saibamais{
        margin-left: 0;
    }

    .conteudo-saibamais h3{
        font-size: 19px;
        text-align: center;
    }

    .conteudo-saibamais p{
        font-size: 16px;
        text-align: center;
        margin-right: 4px;
        margin-left: 4px;
    }

    .video-saibamais{
        text-align: center;
        margin: 0;
        padding: 0;
        margin-top: 3%;
    }

    .video-saibamais iframe{
        max-width: 365px;    
        height: 205px;
        margin: 0;
        padding: 0;
    }

   .conteudo-testemunho{
        margin: 0;
        padding: 0;
   }

   .video-testemunho {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 3%;
    }

   .video-testemunho iframe{
        max-width: 365px;    
        height: 205px;
        margin: 0;
        padding: 0;
   }

   .container-cards-depoimentos{
        flex-direction: column;
        align-items: center; 
    }

    .cards-depoimentos{
        width: 350px;
        height: 330px;
    }

    .depoimentos p{
        margin-left: 3px;
        margin-right: 3px;
    }

    .botao-vejamaisavaliacoes{
        display: none;
    }

    .container-formulario a{
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }


}
